
.grid {
    display: flex;
    flex-wrap: wrap;
}

.panel {
    height: 150px;
    align-items: center;
    display: flex;
}

.output {
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    margin: 4px;
    font-size: 18px;
}

.xs-lbxs, .s-lbs, .m-lbm, .l-lbl, .xl-lbxl {font-weight: bolder;}

.panel1 {background-color: #fcffb0;}

.xs-panel1 {width: 100%;}
.m-panel1 {width: 60%;}
.l-panel1 {width: 50%;}


.panel2 {background-color: #adff9c;}

.xs-panel2 {width: 100%;}
.s-panel2 {width: 60%;}
.m-panel2 {width: 25%;}
.l-panel2 {width: 30%;}
.xl-panel2 {width: 25%;}

.panel3 {background-color: #a3daff;}

.xs-panel3 {width: 100%;}
.s-panel3 {width: 40%;}
.m-panel3 {width: 15%;}
.l-panel3 {width: 20%;}
.xl-panel3 {width: 25%;}
